<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
        <a href="{{navbar_home ?? '/'}}" class="navbar-brand mb-0 h1">
            <img src="/res/img/graduate-icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Stages
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto">
                {% block navbar_menus %}{% endblock %}
            </ul>
        </div>
    </nav>
</header>