<html lang="fr" class="h-100">
    <head>
        {% block head %}{% endblock %}
    </head>
    
    <body class="d-flex flex-column h-100">
        {% block body %}{% endblock %}
        {% block scripts %}{% endblock %}
    </body>
</html>