{% extends "base.twig" %}

{% block head %}
{{ include("meta/head.twig", {head_title: "Portail"}) }}
{% endblock %}

{% block body %}
<main class="container m-auto">
    <h1 class="display-3 text-center m-4">Portail stages</h1>
    <div class="text-white">
        <a class="btn btn-primary btn-lg btn-block py-4 my-4" href="/students">
            <h2>Etudiants</h2>
        </a>
        <a class="btn btn-primary btn-lg btn-block py-4 my-4" href="/organizations">
            <h2>Organisations</h2>
        </a>
        <a class="btn btn-primary btn-lg btn-block py-4 my-4" href="/professors">
            <h2>Enseignants</h2>
        </a>
    </div>
</main>
{% endblock %}