{% extends "portals/students/layout.twig" %}
{% set g_location = 'students_information' %}

{% block body_students %}
    <main class="container">
        {{ markdown_content|raw }}
    </main>
{% endblock %}
