{% extends "base.twig" %}

{% block head %}
    {{ include("meta/head.twig", {head_title: "Étudiants"}) }}
{% endblock %}

{% block body %}
    {% embed "meta/navbar.twig" with {navbar_home: "/students"} %}
        {% block navbar_menus %}
            <li class="nav-item dropdown {{ g_location == 'students_information' ? 'active'}}">
                <a class="nav-link" href="/students">Informations générales</a>
            </li>
            <li class="nav-item dropdown {{ g_location == 'students_it' ? 'active'}}">
                <a class="nav-link" href="/students/it">Informatique</a>
            </li>
            <li class="nav-item dropdown {{ g_location == 'students_maths' ? 'active'}}">
                <a class="nav-link" href="/students/maths">Mathématiques</a>
            </li>
            <li class="nav-item dropdown {{ g_location == 'students_pceea' ? 'active'}}">
                <a class="nav-link" href="/students/pceea">PC-EEA</a>
            </li>
            <li class="nav-item dropdown {{ g_location == 'students_offers' ? 'active'}}">
                <a class="nav-link" href="/students/offers">Offres de stage</a>
            </li>
        {% endblock %}
    {% endembed %}

    <div class="py-4">
        {% block body_students %}{% endblock %}
    </div>

    {{ include("meta/footer.twig") }}
{% endblock %}

{% block scripts %}
    {% embed "meta/scripts.twig" %}{% endembed %}
{% endblock %}

{#
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js" integrity="sha256-G7A4JrJjJlFqP0yamznwPjAApIKPkadeHfyIwiaa9e0=" crossorigin="anonymous"></script>
    <script src="https://gitcdn.xyz/cdn/joshfire/jsonform/b9d2d1aa0a32ec4326fffe57235c3f7fde43601e/lib/jsonform.js"></script>
#}