{% extends "portals/students/layout.twig" %}
{% set g_location = 'students_offers' %}

{% block body_students %}
    <main class="container-fluid px-4">
        <div class="row">
            {# Filters #}
            <div class="col-lg-3 p-2">
                <form data-persist="garlic" data-destroy="false">
                    <div class="form-group" id="query">
                        <label for="query_string">Rechercher</label>
                        <input class="form-control" type="search" name="query_string" id="query_string" placeholder="Mots-clés, numéro...">
                    </div>
                    <div class="form-group" id="sectors">
                        <div>Filières</div>
                        <table class="form-check">
                            <tr><td>
                                <input class="form-check-input" type="checkbox" name="sectors_it" id="sectors_it" checked>
                                <label class="form-check-label" for="sectors_it">Informatique</label>
                            </td></tr>
                            <tr><td>
                                <input class="form-check-input" type="checkbox" name="sectors_maths" id="sectors_maths" checked>
                                <label class="form-check-label" for="sectors_maths">Mathématiques</label>
                            </td></tr>
                            <tr><td>
                                <input class="form-check-input" type="checkbox" name="sectors_pceea" id="sectors_pceea" checked>
                                <label class="form-check-label" for="sectors_pceea">PC-EEA</label>
                            </td></tr>
                        </table>
                    </div>
                    <div class="form-group" id="distance">
                        <div>Distance de l'université : <span id="distance_value"></span></div>
                        <table class="w-100 text-center">
                            <tr>
                                <td>&times;</td>
                                <td><input type="range" class="form-control-range" name="distance" id="distance_slider" min="0" max="150" step="1" value="0" class="w-100"></td>
                                <td>150</td>
                            </tr>
                        </table>
                    </div>
                    <div class="form-group" id="period">
                        <div>Periode</div>
                        <table>
                            <tr>
                                <td>Du :</td>
                                <td><input type="date" name="period_start_period" id="period_start_period"></td>
                            </tr>
                            <tr>
                                <td>au :</td>
                                <td><input type="date" name="period_end_period" id="period_end_period"></td>
                            </tr>
                        </table>
                    </div>
                    <table class="form-group form-check">
                        <tr><td>
                            <input class="form-check-input" type="checkbox" name="paid" id="paid">
                            <label class="form-check-label" for="paid">Gratification</label>
                        </td></tr>
                        <tr><td>
                            <input class="form-check-input" type="checkbox" name="include_assigned" id="include_assigned">
                            <label class="form-check-label" for="include_assigned">Inclure les offres assignées</label>
                        </td></tr>
                        <tr><td>
                            <input class="form-check-input" type="checkbox" name="include_expired" id="include_expired">
                            <label class="form-check-label" for="include_expired">Inclure les offres expirées</label>
                        </td></tr>
                    </table>
                    <button class="btn btn-block btn-secondary" type="button" id="form_reset">Supprimer les filtres</button>
                    <div id="offer_status"></div>
                </form>
            </div>

            {# Matching offers #}
            <div class="col-lg p-2 border">
                <div id="offer_placeholder"></div>
            </div>
        </div>

        {# Mustache.js scripts #}
        {% verbatim %}
        <script type="text/template" id="offer_card_template">
            {{#.}}
            <div class="row">
                {{#.}}
                <div class="col-md">
                    <div class="card text-center m-2">
                        <div class="card-body">
                            <h5 class="card-title">
                                <div>
                                    {{#is_new}}
                                    <span class="badge badge-pill badge-primary mb-2">Nouveau</span>
                                    {{/is_new}}
                                    {{#is_assigned}}
                                    <span class="badge badge-pill badge-secondary mb-2">Assignée</span>
                                    {{/is_assigned}}
                                    {{^is_assigned}} {{! Do not mark offer as old if assigned}}
                                        {{#is_old}}
                                        <span class="badge badge-pill badge-warning mb-2">Expirée</span>
                                        {{/is_old}}
                                    {{/is_assigned}}
                                </div>
                                {{subject}}
                            </h5>
                            <p>
                                <div class="text-muted"><span class="period">{{start_period}}</span> &ndash; <span class="period">{{end_period}}</span></div>
                                {{#organization.contact.address}}
                                <div class="text-muted">{{organization.contact.address.city}} &ndash; {{organization.contact.address.postcode}}</div>
                                {{/organization.contact.address}}
                            </p>
                            <a href="/students/offer-{{code}}" rel="noopener noreferrer" target="_blank" class="btn btn-primary w-100">Voir l'offre&nbsp;<i class="fas fa-external-link-alt"></i></a>
                        </div>
                        <div class="card-footer text-right">
                            <small class="text-muted">Mis en ligne • <span class="timeago" datetime="{{created_at}}"></span></small>
                        </div>
                    </div>
                </div>
                {{/.}}
            </div>
            {{/.}}
        </script>
        {% endverbatim %}

        <script type="text/template" id="offer_status_loading">
            <div class="text-center my-2">
                <div class="spinner-grow" role="status"><span class="sr-only">Loading...</span></div>
            </div>
        </script>

        <script type="text/template" id="offer_card_empty">
            <h5 class="text-center text-secondary my-2">Aucun résultat &nbsp;<i class="fas fa-frown"></i></h5>
        </script>
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/res/js/students/offers.js"></script>
{% endblock %}
