{% extends "portals/students/layout.twig" %}
{% set g_location = 'students_offers' %}

{% block body_students %}
    <main class="container">
        {% include "portals/offers/templates/details.twig" %}
    </main>
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="/res/js/offers/templates/details.js"></script>
{% endblock %}