<h1 class="my-2">
    Détails de l'offre <small class="text-muted">#{{ offer_code }}</small>
</h1>
{% if (offer_assigned or offer_expired) %}
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        {% if offer_assigned %}
        Cette offre a déjà été acceptée par un étudiant.
        {% elseif offer_expired %}
        Cette offre n'est plus valable.
        {% endif %}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<div class="shadow p-3 mb-5 bg-white rounded">
    <h2>{{ offer.subject }}</h2>
    <hr>
    <div class="row">
        <div class="col-lg">
            <h4>Description</h4>
            <div class="p-1">
                {{ offer.description|raw }}
            </div>
            <hr>
            <h4>À propos de l'organisation</h4>
            <div class="p-1">
                <div><b>{{ offer.organization.name }}</b></div>
                <div>{{ offer.organization.service }}</div>
                
                <h6 class="mt-4">Adresse</h6>
                <div>{{ offer.organization.contact.address.address_line_1}}</div>
                <div>{{ offer.organization.contact.address.address_line_2 }}</div>
                <div>{{ offer.organization.contact.address.city }}&nbsp;{{ offer.organization.contact.address.postcode }}</div>
                <div>{{ offer.organization.contact.address.country }}</div>
                
                <h6 class="mt-4">Contact</h6>
                <div>{{ offer.referee.id.last_name }} {{ offer.referee.id.last_name }}</div>
                <div><a href="mailto:{{ offer.organization.contact.email_address }}">{{ offer.organization.contact.email_address }}</a></div>
                <div>{{ offer.organization.contact.phone_number_1 }}</div>
                <div>{{ offer.organization.contact.phone_number_2 }}</div>
                <div>{{ offer.organization.contact.fax_number }}</div>
            </div>
            <hr>
        </div>
        <div class="border-left"></div>
        <div class="col-lg-4">
            <h4>À propos du stage</h4>
            <div class="p-1">
            <h6>Période</h6>
                <table>
                    <tr>
                        <td>Du :</td>
                        <td id="start_period">{{ offer.start_period }}</td>
                    </tr>
                    <tr>
                        <td>au :</td>
                        <td id="end_period">{{ offer.end_period }}</td>
                    </tr>
                </table>
                
                <h6 class="mt-4">Contact</h6>
                <div>{{ offer.tutor.id.last_name }} {{ offer.tutor.id.first_name }}</div>
                <div><a href="mailto:{{ offer.tutor.id.contact.email_address }}">{{ offer.tutor.id.contact.email_address }}</a></div>
                <div>{{ offer.tutor.id.contact.phone_number_1 }}</div>
                <div>{{ offer.tutor.id.contact.phone_number_2 }}</div>
                
                <div class="mt-4">
                    <input type="checkbox" id="paid_checkbox" disabled {{ offer.paid ? "checked" }}>
                    <label for="paid_checkbox">Gratification</label>
                </div>
            </div>
            
            <div class="mt-4 text-center text-muted">
                <div><small>- Créée le <span id="created_at">{{ offer.created_at }}</span> -</small></div>
                <div><small>- Éditée le <span id="edited_at">{{ offer.updated_at }}</span> -</small></div>
            </div>
        </div>
    </div>
</div>

